* {
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  background-color: rgba(255, 201, 121, 1);
}
::-webkit-scrollbar-thumb {
  width: 2px;
  height: 2px;
  background-color: rgb(135, 61, 2);
} */

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
