* {
  color:white;
  font-size: 16pt;
}

body {
  /* temp color before animation */
  background-color: rgb(46,139,192);
}

.background {
  /* Optional image instead of solid color */
  /* background-image: url("./bricks.png"); */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */

  background-color: rgb(84, 160, 204);
  min-height: 100vh; 

  animation: fadeIn 1.5s ease-out;
}

.tt {
  min-height:100vh;
  font-size:36px;
}

nav, .title {
  position: absolute;
  top:6%;
  width:100%;
  display: flex;
  justify-content: space-between;
}

nav span {
  text-decoration:underline;
  animation: slideUp .8s ease-out;
  z-index: 9999;
  padding: 0 0 0 40px;
}

.left {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  padding: 0 40px 0 0 ;
}

.title {
  top:25%;
  animation: slideUp .8s ease-out;
}

.titleText {
  font-size: 50pt;
  padding: 0 0 0 40px;
}

.subtitleText {
  font-size: 16pt;
  color: rgba(255, 255, 255, .8);
  padding: 0 0 0 40px;
  animation: fadeIn 4s, ease-out;
}

@keyframes fadeIn {
  0%   { opacity: 0 } 
  100% { opacity: 1 }
}

@keyframes slideUp {
  0%, 30% {
      transform:translateY(50%);
      opacity: 0;
  }
  100% {
      transform:translateY(0%)
  }
}
