/* @font-face {
  font-family: stardew;
  src: url(./Stardew_Valley.ttf);
} */

* {
  color:white;
  font-size: 16pt;
  /* font-family: stardew; */
}

body {
  /* temp color before animation */
  background-color: rgb(46,139,192);
}

.homeBackground, .charBackground, .usersBackground {
  /* Optional image instead of solid color */
  /* background-image: url("./bricks.png"); */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */

  background-color: rgb(84, 160, 204);
  opacity: .5 ;
  min-height: 100vh; 

  animation: fadeIn 1.5s ease-out;
}

.homeFooter, .usersFooter {
  min-height:100vh;
  font-size:36px;
}

nav, .homeTitle {
  position: absolute;
  top:6%;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.homeTitle {
  top:25%;
  animation: slideUp .8s ease-out;
}

.titleText {
  font-size: 50pt;
  padding: 0 0 0 40px;
}

.subtitleText {
  font-size: 16pt;
  color: rgba(255, 255, 255, .8);
  padding: 0 0 0 40px;
  animation: fadeIn 4s, ease-out;
}

nav span {
  text-decoration:underline;
  animation: slideUp .8s ease-out;
  z-index: 9999;
  padding: 0 0 0 40px;
}

.links {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  padding: 0 40px 0 0 ;
}


/* Users Page */
.usersBackground {
  background-color: rgb(196, 71, 113);
}

.usersFooter {
  background-color: rgb(138, 51, 80);
}



@keyframes fadeIn {
  0%   { opacity: 0 } 
  100% { opacity: .5 }
}

@keyframes slideUp {
  0%, 30% {
      transform:translateY(50%);
      opacity: 0;
  }
  100% {
      transform:translateY(0%)
  }
}
