.card, .top {
    border:3px solid black;
    min-width:200px;
    flex: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.top {
    flex-direction: row;
}

img {
    border:3px solid black;
    min-width: 128px;
    min-height: 128px;
}

p {
    border:3px solid black;
    font-size: 12pt;
}

.photo {
    border:3px solid black;
    display: flex;
    flex-flow: column;
}

.idInfo {
    border:3px solid black;
    display: flex;
    flex-flow: column;
}

.name {
    text-align: center;
}

.bottom p {
    height: 200px;
}
