.commentBlock,
form {
  margin: 0 auto 20px auto;
  padding: 0 0 10px 0;
  width: 60%;
  background: rgb(235, 168, 103);
  background: linear-gradient(
    0deg,
    rgba(235, 168, 103, 1) 30%,
    rgba(255, 201, 121, 1) 100%
  );
  border-radius: 20px;
  border: 6px solid rgb(135, 61, 2);
}

.commentHead,
.formHeader {
  display: flex;
  flex-direction: row;
  margin: 0 15px 0 15px;
}

.commentTitle,
.inputTitle {
  margin: 0 0 0 10px;
}

.commentRemark,
.inputBody {
  margin: 0 25px 0 25px;
}

.ratingImg {
  height: 16px;
  vertical-align: middle;
}

.empty {
  filter: grayscale();
}

.headRight {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 10px 0 0;
}

.deleteBtn {
  display: none;
  cursor: pointer;
  color: rgb(243, 204, 145);
  background-color: rgba(135, 61, 2, 1);
}

.commentBlock:hover .deleteBtn {
  display: block;
}
