#commentSection,
#commentBody {
  border: 3px solid black;
  background-color: rgb(84, 160, 204);
}

#commentBody {
  min-height: 100vh;
  min-width: 100vw;
}

#commentSection {
  display: flex;
  flex-flow: wrap column;
  /* margin: 100px 0 0 0; */
}
