#commentSection,
#pageBackground {
  background-color: rgb(84, 160, 204);
}

#pageBackground {
  min-height: 100vh;
  min-width: 100vw;
  border: 3px solid black;
}

#commentSection {
  display: flex;
  flex-flow: wrap column;
}
